header {
  background-color: $color-header;
  left: 0;
  line-height: 3.5em;
  position: absolute;
  right: 0;
  top: 0;
}

nav {
  margin: auto;
  max-width: 60em;
  padding: 0 4em;
  text-align: right;

  a {
    color: $color-text;
    padding: 0 1em;

    &:visited {
      color: $color-text;
    }
  }
}

@media (max-width: 684px) {
  nav {
    padding: 0 2em;
  }
}