---
permalink: "index.html"
layout: page
---

{% for post in site.posts %}
  <div class="header">
    <h2 class="header-title">
      <a href="{{ post.url | relative_url | uri_escape }}">
        {{ post.title | strip_newlines | strip_html | strip | normalize_whitespace | smartify }}
      </a>
    </h2>
    {% if post.description %}
      <p class="header-annotation">
        {{ post.description | strip_newlines | strip_html | strip | normalize_whitespace | smartify }}
      </p>
    {% endif %}
    <time>{{ post.date | date_to_long_string }}</time>
  </div>
{% endfor %}
