// Border Radius
//
// The border-radius CSS property lets you round the corners of an element's outer border edge. You can specify a single radius to make circular corners, or two radii to make elliptical corners.
//
// Values: <length-percentage> | <length-percentage>
// Default: 0
//
// https://www.w3.org/TR/css-backgrounds-3/#propdef-border-radius
@mixin border-radius($value: 0) {
  -webkit-border-radius: $value;
     -moz-border-radius: $value;
          border-radius: $value;
}
