// Box Shadow
//
// The box-shadow CSS property is used to add shadow effects around an element's frame. You can specify multiple effects separated by commas if you wish to do so. A box shadow is described by X and Y offsets relative to the element, blur and spread radii, and color.
//
// Values: offset-x | offset-y | blur-radius | spread-radius | color
// Default: none
//
// https://www.w3.org/TR/css-backgrounds-3/#propdef-box-shadow
@mixin boxshadow($value: none) {
  -webkit-box-shadow: $value;
     -moz-box-shadow: $value;
          box-shadow: $value;
}
