<aside class="sidebar" role="navigation">
    <div class="avatar">
        <img alt="Avatar" src="{{ site.avatar | strip_newlines | strip_html | strip | normalize_whitespace | relative_url | uri_escape }}" />
    </div>

    <p>{{ site.description | strip_newlines | strip_html | strip | normalize_whitespace | smartify | xml_escape }}</p>

    {% for link in site.data.aside_links %}
    <p>
        <span>{{ link.name | strip_newlines | strip_html | strip | normalize_whitespace | smartify | xml_escape }}</span>

        <a href="{{ link.url | strip_newlines | strip_html | strip | normalize_whitespace | relative_url | uri_escape }}" target="_blank">
            {{ link.tag | strip_newlines | strip_html | strip | normalize_whitespace | smartify | xml_escape }}
        </a>
    </p>
    {% endfor %}

    <h4>Recent Posts</h4>

    {% for post in site.posts limit: 5 %}
    <div>
        <small>
            <time datetime="{{ post.date | date_to_xmlschema }}">
                {{ post.date | date: '%Y-%m-%d' | strip_newlines | strip_html | strip | normalize_whitespace | smartify | xml_escape }}
            </time>
        </small>

        <a href="{{ post.url | relative_url | uri_escape }}">
            {{ post.title | strip_newlines | strip_html | strip | normalize_whitespace | smartify | xml_escape }}
        </a>
    </div>
    {% endfor %}

    <h4>License</h4>

    <p>
        The content for this site is <a href="https://creativecommons.org/licenses/by-nc/3.0/" target="_blank">CC BY-NC 3.0</a>.
        The <a href="{{ site.repos | strip_newlines | strip_html | strip | normalize_whitespace | relative_url | uri_escape }}" target="_blank">code</a>
        for this site is <a href="https://opensource.org/licenses/MIT" target="_blank">MIT</a>.
    </p>
</aside>
