{%- assign author = site.data.authors[page.author] -%}

{%- if author -%}

&nbsp;by&nbsp;

{%- unless author.email == empty -%}
<a href="mailto:{{- author.email | strip | url_encode -}}?subject={{- page.title | default: site.title | strip | normalize_whitespace | uri_escape -}}">{{- author.name | strip | normalize_whitespace | xml_escape -}}</a>
{%- endunless -%}

{%- if author.email == empty -%}
{{- author.name | strip | normalize_whitespace | xml_escape -}}
{%- endif -%}

&nbsp;

{%- endif -%}