<h2>Contacts</h2>

<ul>
    {% for contact in site.data.contacts %}
    <li>
        {% assign description = contact.description | strip_newlines | strip_html | strip | normalize_whitespace | smartify | xml_escape %}
        {% assign title = contact.title | strip_newlines | strip_html | strip | normalize_whitespace | smartify | xml_escape %}
        {% assign url = contact.url | strip_newlines | strip_html | strip | normalize_whitespace | relative_url | uri_escape %}

        <a href="{{ url }}" target="_blank">{{ title }}</a>
        <span>—</span>
        <span>{{ description }}</span>
    </li>
    {% endfor %}
</ul>

{% assign description = "" %}
{% assign title = "" %}
{% assign url = "" %}
