<!-- Cloudflare Web Analytics -->
<script defer src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"token":"4692de25bac642d1bd9df587a72d032e"}'></script>

<!-- AppMetrix Web Analytics -->
<script defer src="https://appmetrix.com/pixel/T5X0z12SoASBV8Dv"></script>

<!-- Insights Analytics -->
<script defer src="https://getinsights.io/js/insights.js"></script>

<script>
document.addEventListener("DOMContentLoaded", function () {
    insights.init('xOhRsT1wa6n9QDig');
    insights.trackPages();
});
</script>