<!-- Generate a header -->
{% if page.title %}
    {% capture title %}
        {{ page.title }} &middot; {{ site.title }}
    {% endcapture %}
{% else %}
    {% assign title = site.title %}
{% endif %}

<!-- Generate a description -->
{% if page.description %}
    {% assign description = page.description %}
{% else %}
    {% assign description = site.description %}
{% endif %}

<head>
    <!-- Meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="profile" href="http://gmpg.org/xfn/11" />

    <!-- Search engines -->
    <link rel="canonical" href="{{ site.url | absolute_url | uri_escape }}" />
    <meta name="google-site-verification" content="{{ site.verification.google | strip_newlines | strip_html | strip | normalize_whitespace | cgi_escape }}" />
    <meta name="yandex-verification" content="{{ site.verification.yandex | strip_newlines | strip_html | strip | normalize_whitespace | cgi_escape }}" />
    <meta name="robots" content="index, follow" />

    <!-- Title / Description -->
    <meta name="description" content="{{ description | strip_newlines | strip_html | strip | normalize_whitespace | smartify }}" />
    <meta name="application-name" content="{{ title | strip_newlines | strip_html | strip | normalize_whitespace | smartify }}" />
    <title>{{ title | strip_newlines | strip_html | strip | normalize_whitespace | smartify }}</title>

    <!-- Google Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto|Roboto+Mono" />

    <!-- CSS -->
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url | uri_escape }}" />
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url | uri_escape }}" />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/apple-touch-icon.png' | relative_url | uri_escape }}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicon-16x16.png' | relative_url | uri_escape }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon-32x32.png' | relative_url | uri_escape }}" />

    <!-- RSS -->
    <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ site.rss | relative_url | uri_escape }}" />

    <!-- JavaScript -->
    <script type="text/javascript" src="{{ '/assets/javascript/anchor-js/anchor.min.js' | relative_url | uri_escape }}"></script>
</head>
