<head>
  <!-- Meta tags -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="profile" href="http://gmpg.org/xfn/11" />

  <!-- Search engines -->
  <link rel="canonical" href="{{ page.url | absolute_url | uri_escape }}" />
  <meta name="google-site-verification" content="{{ site.verification.google | strip_newlines | strip_html | strip | normalize_whitespace | cgi_escape }}" />
  <meta name="yandex-verification" content="{{ site.verification.yandex | strip_newlines | strip_html | strip | normalize_whitespace | cgi_escape }}" />
  <meta name="robots" content="index, follow" />

  <!-- Title / Description -->
  <meta name="description" content="{{ page.description | default: site.description | strip_newlines | strip_html | strip | normalize_whitespace | smartify | truncate: 100 }}" />
  <meta name="application-name" content="{{ page.title | default: site.title | strip_newlines | strip_html | strip | normalize_whitespace | smartify | capitalize }}" />
  <title>{{ page.title | default: site.title | strip_newlines | strip_html | strip | normalize_whitespace | smartify | truncate: 64 }}</title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ '/assets/css/fonts.css' | relative_url | uri_escape }}" />
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url | uri_escape }}" />

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/apple-touch-icon.png' | relative_url | uri_escape }}" />
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicon-16x16.png' | relative_url | uri_escape }}" />
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon-32x32.png' | relative_url | uri_escape }}" />

  <!-- RSS -->
  <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ site.rss | relative_url | uri_escape }}" />

  <!--[if lte IE 9]>
    <script type="text/javascript" src="{{ '/assets/javascript/html5shiv.min.js' | relative_url | uri_escape }}"></script>
  <![endif]-->
</head>
