<section class="icons">
    <div class="container">
        <div class="content">
            <div class="fa-sm">
                <!-- RSS -->
                {% if site.rss %}
                    <a href="{{ site.rss | relative_url | uri_escape }}" target="_blank" rel="nofollow">
                        <i class="fas fa-rss"></i>
                    </a>
                {% endif %}
                <!-- E-Mail -->
                {% if site.author.email %}
                    <a href="mailto:{{ site.author.email | uri_escape }}" target="_blank" rel="nofollow">
                        <i class="fas fa-envelope-open"></i>
                    </a>
                {% endif %}
                <!-- Twitter -->
                {% if site.links.twitter %}
                    <a href="{{ site.links.twitter | uri_escape }}" target="_blank" rel="nofollow">
                        <i class="fab fa-twitter"></i>
                    </a>
                {% endif %}
                <!-- GitHub -->
                {% if site.links.github %}
                    <a href="{{ site.links.github | uri_escape }}" target="_blank" rel="nofollow">
                        <i class="fab fa-github"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
