{% assign alternative = include.alt | strip_newlines | strip_html | strip | normalize_whitespace | smartify | xml_escape %}
{% assign identifier = include.id | strip_newlines | strip_html | strip | normalize_whitespace | slugify %}
{% assign source = include.src | strip_newlines | strip_html | strip | normalize_whitespace | uri_escape %}

<a href="#{{ identifier }}">
  <img alt="{{ alternative }}" src="{{ source }}" />
</a>

<a href="#" class="fullscreen" id="{{ identifier }}">
  <img alt="{{ alternative }}" src="{{ source }}" />
</a>
