<script defer type="text/javascript" src="{{ '/assets/javascript/jquery-1.12.4.min.js' | relative_url | uri_escape }}"></script>
<script defer type="text/javascript" src="{{ '/assets/javascript/bootstrap-3.3.7.min.js' | relative_url | uri_escape }}"></script>
<script defer type="text/javascript" src="{{ '/assets/javascript/doT-1.1.0.min.js' | relative_url | uri_escape }}"></script>
<script defer type="text/javascript" src="{{ '/assets/javascript/github-0.0.1.min.js' | relative_url | uri_escape }}"></script>
