<h2>Related links</h2>

<ul>
    {% for link in site.data.links %}
    <li>
        <a href="{{ link.url | strip_newlines | strip_html | strip | normalize_whitespace | relative_url | uri_escape }}" target="_blank">{{ link.title | strip_newlines | strip_html | strip | normalize_whitespace | smartify | xml_escape }}</a>
        <span>—</span>
        <span>{{ link.description | strip_newlines | strip_html | strip | normalize_whitespace | smartify | xml_escape }}</span>
    </li>
    {% endfor %}
</ul>
