{% assign pages = site.pages | where: "show", true %}

<nav role="navigation">
    <ul class="nav-pills">
        {% unless page.url == "/index.html" %}
            <li role="presentation">
                <a class="nav-link" href="/">Home</a>
            </li>
        {% endunless %}

        <!-- Right side -->
        <ul class="nav-pills nav-right">
            {% for page in pages %}
                <li role="presentation">
                    <a class="nav-link" href="{{ page.url | strip_newlines | strip_html | strip | normalize_whitespace | relative_url | uri_escape }}">
                        {{ page.title | strip_newlines | strip_html | strip | normalize_whitespace | smartify | xml_escape }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </ul>
</nav>
