<div class="sidebar">
    <div class="container sidebar-sticky">
        <div class="sidebar-about">
            <!-- Header -->
            <h1>
                <a href="{{ site.baseurl }}">
                    {% if page.title == "index" %}
                        {{ site.title }}
                    {% else %}
                        {{ page.title }}
                    {% endif %}
                </a>
            </h1>

            <!-- Description -->
            <p class="lead">
                {% if page.title == "index" %}
                    {{ site.description }}
                {% else %}
                    {{ page.description }}
                {% endif %}
            </p>
        </div>

        <!-- Navigation -->
        <nav class="sidebar-nav">
            <a class="sidebar-nav-item {% if page.title == "index" %}active{% endif %}" href="{{ site.baseurl }}">Домашняя страница</a>
            {% for node in site.pages %}
                {% if node.sidebar == true %}
                    <a class="sidebar-nav-item {% if page.url == node.url %}active{% endif %}" href="{{ node.url | relative_url }}">{{ node.title }}</a>
                {% endif %}
            {% endfor %}
        </nav>

        <!-- Additional elements -->
        <nav class="sidebar-nav fa-sm">
            <a class="sidebar-nav-icon" href="{{ site.rss | relative_url }}"><i class="fas fa-rss"></i></a>
            <a class="sidebar-nav-icon" href="mailto:{{ site.author.email }}?subject={{ page.title }}"><i class="fas fa-envelope-open"></i></a>
            <a class="sidebar-nav-icon" href="{{ site.github.repo | uri_escape }}"><i class="fab fa-github"></i></a>
        </nav>

        <!-- Copyright -->
        <p>&copy; {{ site.time | date: "%Y" }}. All rights reserved.</p>
    </div>
</div>
