<div class="sidebar">
    <div class="container sidebar-sticky">
        <div class="sidebar-about">
            <!-- Header -->
            <a href="{{ site.baseurl | uri_escape }}">
                {% if page.id == "index" %}
                    <h1>{{ site.title | smartify | strip_html | normalize_whitespace }}</h1>
                {% else %}
                    <h1>{{ page.title | smartify | strip_html | normalize_whitespace }}</h1>
                {% endif %}
            </a>

            <!-- Description -->
            <p class="lead">
                {% if page.id == "index" %}
                    {{ site.description | smartify | strip_html | normalize_whitespace }}
                {% else %}
                    {{ page.description | smartify | strip_html | normalize_whitespace }}
                {% endif %}
            </p>
        </div>

        <!-- Navigation -->
        <nav class="sidebar-nav">
            {% for node in site.pages reversed %}
                {% if node.sidebar == true %}
                    <a class="sidebar-nav-item {% if page.url == node.url %}active{% endif %}" href="{{ node.url | relative_url | uri_escape }}">
                        {{ node.title | smartify | strip_html | normalize_whitespace }}
                    </a>
                {% endif %}
            {% endfor %}
        </nav>

        <!-- Additional elements -->
        <nav class="sidebar-nav fa-sm">
            {% if site.rss %}
                <a class="sidebar-nav-icon" href="{{ site.rss | relative_url | uri_escape }}">
                    <i class="fas fa-rss"></i>
                </a>
            {% endif %}

            {% if site.author.email %}
                <a class="sidebar-nav-icon" href="mailto:{{ site.author.email | uri_escape }}">
                    <i class="fas fa-envelope-open"></i>
                </a>
            {% endif %}

            {% if site.links.twitter %}
                <a class="sidebar-nav-icon" href="{{ site.links.twitter | uri_escape }}">
                    <i class="fab fa-twitter"></i>
                </a>
            {% endif %}

            {% if site.links.github %}
                <a class="sidebar-nav-icon" href="{{ site.links.github | uri_escape }}">
                    <i class="fab fa-github"></i>
                </a>
            {% endif %}
        </nav>

        <!-- Copyright -->
        <p>&copy; {{ site.time | date: "%Y" }}. All rights reserved.</p>
    </div>
</div>
