---
import GitHubIcon from "../Icons/GitHub.astro";
import LinkedInIcon from "../Icons/LinkedIn.astro";
import EmailIcon from "../Icons/Email.astro";
---

<style lang="scss">
	div {
		margin-bottom: 2rem;
	}
</style>

<section>
	<div>
		<GitHubIcon />
		<LinkedInIcon />
		<EmailIcon />
	</div>
</section>
