<section>
	<div>
		<h1>Hi, I'm Valentin Popov 👋</h1>
		<p>
			I'm a professional software developer currently working as a project manager and team lead. On my personal website, I share thoughts on tech, leadership, and digital
			life.
		</p>
		<p>Welcome, and feel free to explore!</p>
	</div>
</section>
