<section>
	<div>
		<h1>Hi, I'm Valentin Popov 👋</h1>
		<p>
			I'm a professional software developer currently working as a project manager and team lead. On my personal
			website, I share insights, ideas, and articles on software development, leadership, and the digital world.
		</p>
		<p>Welcome, and feel free to explore!</p>
	</div>
</section>
