$background-image: '/assets/background.svg';

html {
  background: $color-bg url($background-image) repeat fixed;
}

body {
  border-left: 1px solid $color-bg-alt;
  border-right: 1px solid $color-bg-alt;
}
