@import 'utilities/textsizeadjust';

*,
*::after,
*::before {
  @include text-size-adjust(100%);
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow-y: scroll;
}

body {
  display: flex;
  flex-direction: row;
  min-height: 100%;
}

.container {
  flex: 75%;
  padding-right: 32px;
}

.sidebar {
  flex: 25%;
}

@media (max-width: 684px) {
  body {
    flex-direction: column;
  }

  .container {
    flex: 100%;
    padding-right: 0;
  }

  .sidebar {
    flex: 100%;
  }
}
