.nav-pills {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-align: center;

  li {
    float: left;
    padding: .5em;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

.nav-link {
  text-align: center;
  text-decoration: none;

  &:active,
  &:focus,
  &:hover {
    border: 0;
    text-decoration: underline;
  }
}

.nav-right {
  float: right;
}

@media(min-width: 382px) {
  .nav-pills {
    li {
      display: inline-block;
      transform: perspective(1px) translateZ(0);
      transition-duration: .3s;
      transition-property: transform;
      transition-timing-function: ease-out;
      vertical-align: middle;

      &:active,
      &:focus,
      &:hover {
        transform: translateY(8px);
      }
    }
  }
}

@media (max-width: 382px) {
  .nav-right,
  .nav-pills li {
    float: none;
  }
}
