@import 'utilities/borderradius';

code {
  background: $color-tertiary;
  font-size: 86%;
  margin: 0 .2rem;
  padding: .2rem .5rem;
  white-space: nowrap;

  @include border-radius(.4rem);
}

pre {
  background: $color-tertiary;
  border-left: .3rem solid $color-primary;
  overflow-x: auto;

  & > code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre;

    @include border-radius(0);
  }
}
