---
import Layout from "../layouts/BaseLayout.astro";
import pageSchema from "../utils/schemas/pageSchema";

const title = "404 — Page Not Found | Valentin Popov";
const description = "The page you're looking for doesn't exist!";
const lang = "en";

const schema = pageSchema({
	siteUrl: new URL("/", Astro.site).toString(),
	page: "/404",
	title,
	description,
	lang,
});
---

<Layout title={title} description={description} lang={lang} schema={schema}>
	<div style={{ "text-align": "center" }}>
		<h1>404</h1>
		<p><strong>Page not found</strong></p>
		<p>
			<small>
				If you see this message, please
				<a href=`mailto:valentin@popov.link?subject=${encodeURIComponent('I found a broken page')}`>let me know</a>
			</small>
		</p>
	</div>
</Layout>
