---
import Layout from "../layouts/BaseLayout.astro";
---

<Layout>
	<div style="text-align:center;">
		<h1>404</h1>
		<p><strong>Page not found</strong></p>
		<p>
			<small>
				If you see this message, please
				<a href=`mailto:valentin@popov.link?subject=${encodeURIComponent('I found a broken page')}`>
					let me know
				</a>
			</small>
		</p>
	</div>
</Layout>
