---
import { getCollection } from "astro:content";
import Element from "../components/PostElement.astro";
import Layout from "../layouts/PageLayout.astro";

const posts = await getCollection("blog");
---

<Layout>
	<section>
		{posts.map((post) => <Element post={post} />)}
	</section>
</Layout>
