---
import { getCollection } from "astro:content";
import Layout from "../layouts/PageLayout.astro";

const posts = await getCollection("blog");
---

<Layout>
	<ul>
		{
			posts.map((post) => (
				<li>
					<a href={`/blog/${post.slug}`}>{post.data.title}</a>
				</li>
			))
		}
	</ul>
</Layout>
