$color-bg: #212529;
$color-bg-alt: hwb(0deg 0% 100% / 20%);
$color-bg-code: #3b3d42;
$color-blossom: #6da13f;
$color-fade: #598332;
$color-header: #1b1f22;
$color-text: #dee2e6;
$font-family-base: "Jost", -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-base: 1.8rem;