---
import dayjs from "dayjs";
---

<style lang="scss">
	@import "../scss/_variables.scss";

	footer {
		bottom: 0;
		display: flex;
		font-size: $fontSizeBase * 0.85;
		height: 4em;
		justify-content: space-between;
		left: 0;
		padding: 1em 4em;
		position: absolute;
		right: 0;
	}

	@media (width <=684px) {
		footer {
			padding: 4em 1em 2em;
		}
	}
	ul {
		display: flex;
		justify-content: space-between;
		list-style: none;
	}

	li {
		margin-left: 2em;
	}

	a {
		color: $colorText;
		&:visited {
			color: $colorText;
		}
	}
</style>

<footer>
	<div>&copy; {dayjs().year()} <a href="mailto:valentin@popov.link">Valentin Popov</a></div>
	<ul>
		<li><a href="https://analytics.popov.link" target="_blank">Analytics</a></li>
		<li><a href="https://code.popov.link/valentineus/valentineus.github.io" target="_blank">Source Code</a></li>
	</ul>
</footer>
