<style lang="scss">
	@import "../scss/_variables.scss";

	header {
		padding-bottom: 1rem;
		text-align: right;
	}

	a {
		text-decoration: none;
		margin-right: 1.5rem;

		&:last-child {
			margin-right: 0;
		}
	}
</style>

<header>
	<a href="/">Home</a>
	<a href="/blog">Blog</a>
</header>
