---
type Props = {
	readonly description: string;
	readonly title: string;
};

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { description, title } = Astro.props;
---

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="description" content={description} />
	<meta name="robots" content="index, follow" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link href="/feed.xml" rel="alternate" title="RSS" type="application/atom+xml" />
	<link href="/sitemap-index.xml" rel="sitemap" />
	<link href={canonicalURL} rel="canonical" />

	<title>{title}</title>
</head>
