<style lang="scss">
	a {
		margin-right: 1.5rem;

		&:last-child {
			margin-right: 0;
		}
	}
</style>

<header>
	<nav aria-label="Navigation">
		<a href="/" lang="en" aria-label="Home">Home</a>
		<a href="/blog/" lang="en" aria-label="Blog">Blog</a>
	</nav>
</header>
