---
type Props = {
	readonly nextUrl?: string;
	readonly prevUrl?: string;
};

const { nextUrl, prevUrl } = Astro.props;
---

<style lang="scss">
	div {
		text-align: center;
	}

	span {
		margin: 0 2em;
	}
</style>

<div>
	{
		prevUrl && (
			<span>
				<a href={prevUrl}>&lt; Prev</a>
			</span>
		)
	}
	{
		nextUrl && (
			<span>
				<a href={nextUrl}>Next &gt;</a>
			</span>
		)
	}
</div>
