---
import Next from "./Pagination/Next.astro";
import Prev from "./Pagination/Prev.astro";

type Props = {
	readonly prevUrl?: string;
	readonly nextUrl?: string;
};

const { prevUrl, nextUrl } = Astro.props;
---

<style lang="scss">
	div {
		overflow: hidden;
		padding: 3rem 0;
		width: 100%;
	}
</style>

<div>
	{prevUrl && <Prev url={prevUrl} />}
	{nextUrl && <Next url={nextUrl} />}
</div>
