<!DOCTYPE html>
<html lang="ru">

<head>
    <!-- Meta tags -->
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="text/html; charset=utf-8" http-equiv="content-type" />

    <!-- RSS -->
    {% block rss %}
    <link href="{{ get_url(path='atom.xml', trailing_slash=false) | trim }}" rel="alternate" title="RSS" type="application/atom+xml" />
    {% endblock %}

    <!-- CSS -->
    {% set css = load_data(path='styles.css', format='plain') %}
    <style>{{ css | safe }}</style>

    <!-- Title -->
    {% include 'includes/title.html' %}
</head>

<body>
    <header>
        {% include 'includes/navbar.html' %}
    </header>

    <article>
        {% block content %}{% endblock %}
    </article>
</body>

</html>