<!DOCTYPE html>
<html lang="ru">

<head>
    <!-- Meta tags -->
    {% include 'includes/meta.html' %}

    <!-- RSS -->
    {% block rss %}
    <link href="{{ get_url(path='atom.xml', trailing_slash=false) | trim }}" rel="alternate" title="RSS" type="application/atom+xml" />
    {% endblock %}

    <!-- CSS -->
    {% set css = load_data(path='styles.css', format='plain') %}
    <style>{{ css | safe }}</style>

    <!-- Title -->
    {% include 'includes/title.html' %}

    <!-- Canonical URL -->
    {% include 'includes/canonical.html' %}
</head>

<body>
    <header>
        {% include 'includes/navbar.html' %}
    </header>

    <article>
        {% block content %}{% endblock %}
    </article>

    {% include 'includes/counter.html' %}
</body>

</html>