{% extends 'base.html' %}

{% block content %}
{% for year, posts in section.pages | group_by(attribute='year') %}
<section>
    <h2>{{ year | trim | safe }}</h2>

    <ul>
        {% for page in posts %}
        <li>
            <time datetime="{{ page.date | date(format='%+') | trim | safe }}">{{ page.date | date(format='%Y/%m/%d') | trim | safe }}</time>
            <span>&mdash;</span>
            <a href="{{ page.path | trim | safe }}">{{ page.title | trim | safe }}</a>
        </li>
        {% endfor %}
    </ul>
</section>
{% endfor %}
{% endblock content %}