{% extends 'base.html' %}

{% block content %}
<style>
    .photo {
        border-radius: 50%;
        width: 256px;
        height: 256px;
        float: left;
        margin: 0 [x] [y] 0;
    }

    .text {
        /* clear: left; */
    }

    .wrapper {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<section>
    <div>
        <img class="photo" src="/photo.jpg" alt="" align="middle">

        <div class="text">
            <h1>Website</h1>
        </div>
    </div>
</section>

{% endblock content %}