{% extends 'base.html' %}

{% block content %}
<h1>Welcome!</h1>

<section>
    <a href="https://512kb.club">
        <img src="https://512kb.club/assets/images/green-team.svg" alt="a proud member of the green team of 512KB club" />
    </a>
</section>

<section>
    <p>Hi there! Thanks for stopping by my website!</p>

    <p>
        My name is Valentin Popov, and I'm a Software Developer and Team Leader at
        <a href="https://digineat.com/" target="_blank">DigiNeat LLC</a>. I love all things OpenSource and have a
        particular interest in ethical hacking, building electronic gadgets, and 3D printing. I'm a pro at working with
        languages like JavaScript, TypeScript, Rust, Go and PHP, and I'm always looking to learn more and improve my
        skills.
    </p>

    <p>
        I'm excited to share my experiences and knowledge with you through this website, so I hope you find the content
        helpful and informative.
    </p>
</section>

<section>
    {% include 'includes/contacts.html' %}
</section>

<section>
    <h2>Useful links</h2>
    {% include 'includes/useful_links.html' %}
</section>

<section>
    <h2>Recent posts</h2>
    {% include 'includes/recent_posts.html' %}
</section>
{% endblock content %}