{% extends 'base.html' %}

{% block content %}
<h1>{{ page.title | trim }}</h1>

{{ page.content | safe }}

<small>
    <span>Published</span>
    <time datetime="{{ page.date | date(format='%+') | trim }}">{{ page.date | trim }}</time>
    <span>|</span>
    {% set email = config.extra.author.email | trim %}
    <a href="mailto:{{ email }}?subject={{ page.title | urlencode | trim }}">Feedback</a>
    <span>|</span>
    <a href="{{ page.permalink | trim }}">Permalink</a>
</small>
{% endblock content %}