---
layout: default
---

<div class="post non-narrow zero-top-spacing">
    <div class="container">
        <div class="content">
            <!-- Header-->
            <div class="front-matter">
                <!-- Title-->
                <div class="title-container">
                    <div class="page-heading">
                        {{ page.title | smartify | strip_html | normalize_whitespace }}
                    </div>
                </div>
                <!-- Date -->
                <div class="meta">
                    <div class="date" title="{{ page.date | date_to_xmlschema }}">
                        {{ page.date | date_to_string }}
                    </div>
                    <div class="reading-time">
                        <!-- <div class="middot"></div> -->
                        <!-- Expansion -->
                    </div>
                </div>
            </div>
            <!-- Content -->
            <div class="markdown">
                {{ content | normalize_whitespace }}
            </div>
            <!-- Comments -->
            <div class="disqus">
                {% include disqus.html %}
            </div>
        </div>
    </div>
</div>
