@media print {
	body {
		background: #fff;
		color: #000;
		padding: 0;
	}

	audio,
	embed,
	footer,
	form,
	header,
	iframe,
	nav,
	object,
	video {
		display: none;
	}

	img {
		max-width: 500px;
	}

	* {
		background: none;
		border-color: #000;
		color: #000;
	}

	a {
		color: #000;
		text-decoration: underline;
	}

	table {
		border: 1px solid #000;
	}

	th,
	td {
		background: none;
		border: 1px solid #000;
	}
}
