/*! pygments-css | github.com/richleland/pygments-css */

@import 'utilities/base16';

.highlight {
  background: $base00;
  color: $base07;

  .bp {
    color: $base07;
  }

  .c {
    color: $base03;
  }

  .c1 {
    color: $base03;
  }

  .cm {
    color: $base03;
  }

  .cp {
    color: $base03;
  }

  .cs {
    color: $base03;
  }

  .err {
    color: $base08;
  }

  .gd {
    color: $base08;
  }

  .ge {
    font-style: italic;
  }

  .gh {
    color: $base07;
    font-weight: bold;
  }

  .gi {
    color: $base0B;
  }

  .gp {
    color: $base03;
    font-weight: bold;
  }

  .gs {
    font-weight: bold;
  }

  .gu {
    color: $base0C;
    font-weight: bold;
  }

  .hll {
    background-color: $base02;
  }

  .il {
    color: $base09;
  }

  .k {
    color: $base0E;
  }

  .kc {
    color: $base0E;
  }

  .kd {
    color: $base0E;
  }

  .kn {
    color: $base0C;
  }

  .kp {
    color: $base0E;
  }

  .kr {
    color: $base0E;
  }

  .kt {
    color: $base0A;
  }

  .l {
    color: $base09;
  }

  .ld {
    color: $base0B;
  }

  .m {
    color: $base09;
  }

  .mf {
    color: $base09;
  }

  .mh {
    color: $base09;
  }

  .mi {
    color: $base09;
  }

  .mo {
    color: $base09;
  }

  .n {
    color: $base07;
  }

  .na {
    color: $base0D;
  }

  .nb {
    color: $base07;
  }

  .nc {
    color: $base0A;
  }

  .nd {
    color: $base0C;
  }

  .ne {
    color: $base08;
  }

  .nf {
    color: $base0D;
  }

  .ni {
    color: $base07;
  }

  .nl {
    color: $base07;
  }

  .nn {
    color: $base0A;
  }

  .no {
    color: $base08;
  }

  .nt {
    color: $base0C;
  }

  .nv {
    color: $base08;
  }

  .nx {
    color: $base0D;
  }

  .o {
    color: $base0C;
  }

  .ow {
    color: $base0C;
  }

  .p {
    color: $base07;
  }

  .py {
    color: $base07;
  }

  .s {
    color: $base0B;
  }

  .s1 {
    color: $base0B;
  }

  .s2 {
    color: $base0B;
  }

  .sb {
    color: $base0B;
  }

  .sc {
    color: $base07;
  }

  .sd {
    color: $base03;
  }

  .se {
    color: $base09;
  }

  .sh {
    color: $base0B;
  }

  .si {
    color: $base09;
  }

  .sr {
    color: $base0B;
  }

  .ss {
    color: $base0B;
  }

  .sx {
    color: $base0B;
  }

  .vc {
    color: $base08;
  }

  .vg {
    color: $base08;
  }

  .vi {
    color: $base08;
  }

  .w {
    color: $base07;
  }
}
