$color-01: #1d1f21;
$color-02: #373b41;
$color-03: #81a2be;
$color-04: #8abeb7;
$color-05: #969896;
$color-06: #b294bb;
$color-07: #b5bd68;
$color-08: #c5c8c6;
$color-09: #c66;
$color-10: #de935f;
$color-11: #f0c674;

@import 'highlight/main';
