$color-bg-alt: rgba(0, 0, 0, .09);
$color-bg: rgb(250, 250, 250);
$color-blossom: rgb(0, 108, 160);
$color-fade: rgb(13, 78, 120);
$color-html: rgb(250, 250, 250);
$color-text: rgb(85, 85, 85);

$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 1.6em;

@import 'sakura/main';
