$color-bg-alt: rgba(0, 0, 0, .09);
$color-bg: rgb(255, 255, 255);
$color-blossom: rgb(0, 51, 153);
$color-fade: rgb(51, 102, 204);
$color-html: rgb(255, 255, 255);
$color-text: rgb(0, 0, 0);

$font-family-sans-serif: '-apple-system', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif;
$font-size-base: 1.6rem;

@import 'sakura/main';
