$color-bg-alt: rgba(0, 0, 0, .09);
$color-bg: rgba(235, 237, 236, 1);
$color-blossom: rgba(76, 88, 112, 1);
$color-fade: rgba(162, 169, 175, 1);
$color-text: rgba(61, 61, 59, 1);

$font-family-sans-serif: '-apple-system', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif;
$font-size-base: 1.6rem;

@import 'sakura/main';
