---

---

<html>
	<head>
		<!-- Meta tags -->
		<meta content="IE=edge" http-equiv="X-UA-Compatible" />
		<meta content="text/html; charset=utf-8" http-equiv="content-type" />
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<meta content="index, follow" name="robots" />

		<!-- Title / Description -->
		<meta content="Description" name="description" />
		<title>Title</title>

		<!-- RSS -->
		<link href="#" rel="alternate" title="RSS" type="application/atom+xml" />

		<!-- Canonical URL -->
		<link href="#" rel="canonical" />
	</head>

	<body>
		<slot />
	</body>
</html>
