---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import "../scss/global.scss";

const { title, description } = Astro.props;
---

<html lang="ru">
	<Head title={title} description={description} />

	<body>
		<Header />
		<article>
			<slot />
		</article>
	</body>
</html>
