---
import Analytics from "../components/Analytics.astro";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import "../scss/global.scss";

type Props = {
	readonly description: string;
	readonly title: string;
	readonly lang: string;
};

const { title, description, lang } = Astro.props;
---

<html lang={lang}>
	<Head title={title} description={description} />

	<body>
		<main>
			<section>
				<Header />
			</section>

			<slot />
		</main>
		<Analytics />
	</body>
</html>
