---
import Analytics from "../components/Analytics.astro";
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import "../scss/global.scss";

type Props = {
	readonly description?: string;
	readonly title?: string;
};

const { description, title } = Astro.props;
---

<html lang="ru">
	<Head
		description={description ?? import.meta.env.DEFAULT_DESCRIPTION}
		title={title ?? import.meta.env.DEFAULT_TITLE}
	/>

	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Analytics title={title ?? import.meta.env.DEFAULT_TITLE} />
		<Footer />
	</body>
</html>
