---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import "../scss/global.scss";

type Props = {
	readonly description?: string;
	readonly title?: string;
};

const { title, description } = Astro.props;
---

<html lang="ru">
	<Head title={title} description={description} />

	<body>
		<Header />
		<main>
			<slot />
		</main>
	</body>
</html>
