---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<style>
	.header {
		text-align: center;
	}
</style>

<BaseLayout>
	<div class="header">
		<h1>Title</h1>
		<p>
			<small>
				Posted
				<time datetime="#">#</time>
				&nbsp;by&nbsp;Valentin Popov&nbsp;‐
				<strong>1 min read</strong>
			</small>
		</p>
	</div>
	<slot />
</BaseLayout>
