.highlight {
  background: $color-01;
  color: $color-08;

  .bp {
    color: $color-08;
  }

  .c {
    color: $color-05;
  }

  .c1 {
    color: $color-05;
  }

  .cm {
    color: $color-05;
  }

  .cp {
    color: $color-05;
  }

  .cs {
    color: $color-05;
  }

  .err {
    color: $color-09;
  }

  .gd {
    color: $color-09;
  }

  .ge {
    font-style: italic;
  }

  .gh {
    color: $color-08;
    font-weight: bold;
  }

  .gi {
    color: $color-07;
  }

  .gp {
    color: $color-05;
    font-weight: bold;
  }

  .gs {
    font-weight: bold;
  }

  .gu {
    color: $color-04;
    font-weight: bold;
  }

  .hll {
    background-color: $color-02;
  }

  .il {
    color: $color-10;
  }

  .k {
    color: $color-06;
  }

  .kc {
    color: $color-06;
  }

  .kd {
    color: $color-06;
  }

  .kn {
    color: $color-04;
  }

  .kp {
    color: $color-06;
  }

  .kr {
    color: $color-06;
  }

  .kt {
    color: $color-11;
  }

  .l {
    color: $color-10;
  }

  .ld {
    color: $color-07;
  }

  .m {
    color: $color-10;
  }

  .mf {
    color: $color-10;
  }

  .mh {
    color: $color-10;
  }

  .mi {
    color: $color-10;
  }

  .mo {
    color: $color-10;
  }

  .n {
    color: $color-08;
  }

  .na {
    color: $color-03;
  }

  .nb {
    color: $color-08;
  }

  .nc {
    color: $color-11;
  }

  .nd {
    color: $color-04;
  }

  .ne {
    color: $color-09;
  }

  .nf {
    color: $color-03;
  }

  .ni {
    color: $color-08;
  }

  .nl {
    color: $color-08;
  }

  .nn {
    color: $color-11;
  }

  .no {
    color: $color-09;
  }

  .nt {
    color: $color-04;
  }

  .nv {
    color: $color-09;
  }

  .nx {
    color: $color-03;
  }

  .o {
    color: $color-04;
  }

  .ow {
    color: $color-04;
  }

  .p {
    color: $color-08;
  }

  .py {
    color: $color-08;
  }

  .s {
    color: $color-07;
  }

  .s1 {
    color: $color-07;
  }

  .s2 {
    color: $color-07;
  }

  .sb {
    color: $color-07;
  }

  .sc {
    color: $color-08;
  }

  .sd {
    color: $color-05;
  }

  .se {
    color: $color-10;
  }

  .sh {
    color: $color-07;
  }

  .si {
    color: $color-10;
  }

  .sr {
    color: $color-07;
  }

  .ss {
    color: $color-07;
  }

  .sx {
    color: $color-07;
  }

  .vc {
    color: $color-09;
  }

  .vg {
    color: $color-09;
  }

  .vi {
    color: $color-09;
  }

  .w {
    color: $color-08;
  }
}
