.highlight {
  .c {
    color: $color04;
    font-style: italic;
  }

  .c1 {
    color: $color04;
    font-style: italic;
  }

  .cm {
    color: $color04;
    font-style: italic;
  }

  .cp {
    color: $color03;
  }

  .cs {
    color: $color04;
    font-weight: bold;
  }

  .err {
    background-color: $color14;
    color: $color09;
  }

  .gd {
    background-color: $color16;
    color: $color00;
  }

  .ge {
    font-style: italic;
  }

  .gh {
    color: $color08;
  }

  .gi {
    background-color: $color13;
    color: $color00;
  }

  .go {
    color: $color07;
  }

  .gp {
    color: $color05;
  }

  .gr {
    color: $color10;
  }

  .gs {
    font-weight: bold;
  }

  .gt {
    color: $color10;
  }

  .gu {
    color: $color11;
  }

  .hll {
    background-color: $color17;
  }

  .il {
    color: $color02;
  }

  .k {
    color: $color01;
    font-weight: bold;
  }

  .kc {
    color: $color01;
    font-weight: bold;
  }

  .kd {
    color: $color01;
    font-weight: bold;
  }

  .kn {
    color: $color01;
    font-weight: bold;
  }

  .kp {
    color: $color01;
    font-weight: bold;
  }

  .kr {
    color: $color01;
    font-weight: bold;
  }

  .kt {
    color: $color01;
    font-weight: bold;
  }

  .m {
    color: $color02;
  }

  .mf {
    color: $color02;
  }

  .mh {
    color: $color02;
  }

  .mi {
    color: $color02;
  }

  .mo {
    color: $color02;
  }

  .na {
    color: $color15;
  }

  .nt {
    color: $color01;
    font-weight: bold;
  }

  .ow {
    font-weight: bold;
  }

  .s {
    color: $color02;
  }

  .s1 {
    color: $color02;
  }

  .s2 {
    color: $color02;
  }

  .sb {
    color: $color02;
  }

  .sc {
    color: $color06;
  }

  .sd {
    color: $color02;
  }

  .se {
    color: $color02;
  }

  .sh {
    color: $color02;
  }

  .si {
    color: $color02;
  }

  .sr {
    color: $color02;
  }

  .ss {
    color: $color02;
  }

  .sx {
    color: $color02;
  }

  .w {
    color: $color12;
  }
}
